### Discord Bot
BOT_ID=
BOT_TOKEN=
BOT_OWNERID=
# 0 = Playing, 1 = Streaming, 2 = Listening, 3 = Watching, 4 = Custom Status, 5 = Competing
BOT_PRESENCE_TYPE=
BOT_PRESENCE_MSG=
# Default language for the bot (e.g., en for English, fr for French).
# Make sure to have the corresponding language file in the 'src/locales' directory (e.g., en.json, fr.json)
BOT_DEFAULT_LANGUAGE=en
AURA_VERSION=1.0.0

### Logging
LOG_LEVEL=INFO
LOGS_PATH=./logs

### Redis
# The hostname for the Redis server. If using docker, leave it commented out.
#REDIS_HOST=localhost
REDIS_TTL=3600
